/*-------------------------------------------------------------Login----------------------------------------------------------*/

.modal-body{
  background-color: rgb(235, 235, 235);
}


.formulario__labelL {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-inputL {
	position: relative;
}

.formulario__inputL {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__inputL:focus{
  border: 3px solid var(--Segundo);
  outline: none;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-errorL {
	font-size: 12px;
	margin-bottom: 0;
  margin-left: 4px;
  margin-top: 2px;
	display: none;
}

.formulario__input-error-activoL {
	display: block;
}

.formulario__validacion-estadoL {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkboxL {
	margin-right: 10px;
}

.formulario__mensajeL {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
}

.formulario__mensajeL p {
	margin: 0;
}

.formulario__grupo-btn-enviarL {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btnL {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: var(--Tercero);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 300ms ease all;
}

.formulario__btnL:hover {
	box-shadow: 3px 0px 20px rgba(180,180,180, 10);
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correctoL .formulario__validacion-estadoL {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrectoL .formulario__labelL {
	color: #bb2929;
}

.formulario__grupo-incorrectoL .formulario__validacion-estadoL {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrectoL .formulario__inputL {
	border: 3px solid #bb2929;
}

.formulario__grupo-incorrectoL .formulario__mensajeL{
  height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje-success{
  background: #1ed12d;
}